* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #4e54c8, #8f94fb);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px auto;
    max-width: 500px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
    background-color: aliceblue;
    padding: 40px;
    border-radius: 5px;
}

.color-box {
    width: 380px;
    height: 200px;
    margin-bottom: 20px;
    background: #333;
    border-radius: 4px;
}

.container h1 {
    color: #333;
    text-decoration: underline;
    margin-bottom: 36px;
}

.sliders {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
}

.slider {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

label {
    margin-right: 10px;
    font-weight: bold;
    width: 60px;
}

input[type="range"] {
    width: 200px;
    margin-right: 10px;
}

span {
    font-weight: bold;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #4e54c8;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8f94fb;
}

.input-type-value {
    padding: 10px 20px;
    background-color: #ebe1e1;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-align: center;
    width: 180px;
    margin-top: 20px;
    word-break: break-all;
}
